<tr class="player-scorecard">
  <td class="player-scorecard-name-handicaps">
    {{@player.name}}

    <span class="player-handicaps">
      {{t "components.playerScorecard.handicaps" handicap=@player.handicap bid=@player.bid}}
    </span>
  </td>

  {{#each (sort-by "hole.number" @player.scores) as |score|}}
    <td class="player-scorecard-score">
      <input type="number" min="0" tabindex={{score.hole.number}} value={{score.gross}} oninput={{action (action "save" score) value="target.value"}} onfocus={{action "selectAll" value="target"}}>

      <div class="shots">
        {{#each (repeat score.shots)}}
          <div class="shots-shot"></div>
        {{/each}}
      </div>
    </td>
  {{/each}}

  <td>{{@player.totalGross}}</td>
  <td>{{@player.totalNet}}</td>
</tr>
