<header>
  <img src="/assets/images/tpc-logo.png" alt="" id="logo">

  <h1>
    {{t "application.title"}}
  </h1>

  <Input @type="checkbox" @id="nav-toggle" @checked={{mobileNavIsOpen}} />

  <label id="nav-hamburger" for="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <nav>
    <button {{action "createRound"}}>
      {{t "application.nav.newRound"}}
    </button>

    <LinkTo @route="rounds" @class="button">{{t "application.nav.storedRounds"}}</LinkTo>
  </nav>
</header>

<section id="content">
  {{outlet}}
</section>
