<div class="scorecard">
  <div class="scorecard-heading">
    <button class="scorecoard-remove-round" {{action "delete"}}>
      {{t "round.delete"}}
    </button>

    {{format-date model.createdAt format="long"}}
  </div>

  <div class="scorecard-scroller">
    <table>
      <tr class="scorecard-holes">
        <td>
          <b>
            {{t "round.scorecard.holes.hole"}}
          </b>
        </td>

        {{#each course.holes as |hole|}}
          <td>{{hole.number}}</td>
        {{/each}}

        <td>
          {{t "round.scorecard.holes.gross"}}
        </td>

        <td>
          {{t "round.scorecard.holes.net"}}
        </td>
      </tr>

      <tr>
        <td>
          {{t "round.scorecard.par"}}
        </td>

        {{#each course.holes as |hole|}}
          <td>{{hole.par}}</td>
        {{/each}}

        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td>
          {{t "round.scorecard.handicap"}}
        </td>

        {{#each course.holes as |hole|}}
          <td>{{hole.handicap}}</td>
        {{/each}}

        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>

      <tr class="scorecard-heading">
        <th colspan="21">
          {{t "round.scorecard.team" count=model.players.length}}
        </th>
      </tr>

      {{#if model.players}}
        {{#each (sort-by "createdAt" model.players) as |player|}}
          {{player-scorecard player=player}}
        {{/each}}

        <tr class="scorecard-heading">
          <th colspan="21">
            {{t "round.scorecard.scores.net"}}
          </th>
        </tr>

        <tr>
          <td>
            <b>
              {{t "round.scorecard.scores.perHole"}}
            </b>
          </td>

          {{#each model.stats.holes as |hole|}}
            <td>{{hole.netToPar}}</td>
          {{/each}}

          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <td>
            <b>
              {{t "round.scorecard.scores.total"}}
            </b>
          </td>

          {{#each model.stats.holes as |hole|}}
            <td>{{hole.netToParRunningTotal}}</td>
          {{/each}}

          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      {{else}}
        <tr class="scorecard-no-players">
          <td colspan="21">
            {{t "round.scorecard.none"}}
          </td>
        </tr>
      {{/if}}
    </table>
  </div>
</div>

<form class="scorecard-add-player" {{action "addNewPlayer" on="submit"}}>
  <h3>
    {{t "round.form.title"}}
  </h3>

  <label for="player_name">
    <span>
      {{t "round.form.name"}}
    </span>

    {{input type="text" name="player_name" value=newPlayerName placeholder="Name" required="true"}}
  </label>

  <label for="player_handicap">
    <span>
      {{t "round.form.handicap"}}
    </span>

    {{input type="number" name="player_handicap" value=newPlayerHandicap placeholder="Handicap" required="true"}}
  </label>

  <label for="player_bid">
    <span>
      {{t "round.form.bid"}}
    </span>

    {{input type="number" name="player_bid" value=newPlayerBid placeholder="Bid" required="true"}}
  </label>

  <input type="submit" value={{t "round.form.submit"}} disabled={{isNewPlayerInvalid}}>
</form>
