<div class="scorecard-scroller">
  <table class="scorecard">
    <tr class="scorecard-heading">
      <th colspan="21">{{course.name}} - {{moment-format model.createdAt 'MMMM Do, YYYY'}}</th>
    </tr>

    <tr class="scorecard-holes">
      <td><b>Hole</b></td>

      {{#each course.holes as |hole|}}
        <td>{{hole.number}}</td>
      {{/each}}

      <td>Gross</td>
      <td>Net</td>
    </tr>

    <tr>
      <td>Par</td>

      {{#each course.holes as |hole|}}
        <td>{{hole.par}}</td>
      {{/each}}

      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>

    <tr>
      <td>Handicap</td>

      {{#each course.holes as |hole|}}
        <td>{{hole.handicap}}</td>
      {{/each}}

      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>

    <tr class="scorecard-heading">
      <th colspan="21">Players ({{model.players.length}})</th>
    </tr>

    {{#if model.players}}
      {{#each (sort-by "createdAt" model.players) as |player|}}
        {{player-scorecard player=player course=course}}
      {{/each}}

      <tr class="scorecard-heading">
        <th colspan="21">Stats</th>
      </tr>

      <tr>
        <td><b>Team net per hole</b></td>

        {{#each model.stats.holes as |hole|}}
          <td>{{hole.netToPar}}</td>
        {{/each}}

        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td><b>Team net running total</b></td>

        {{#each model.stats.holes as |hole|}}
          <td>{{hole.netToParRunningTotal}}</td>
        {{/each}}

        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    {{else}}
      <tr class="scorecard-no-players">
        <td colspan="21">There are no players yet.</td>
      </tr>
    {{/if}}
  </table>
</div>

<form class="scorecard-add-player" {{action 'addNewPlayer' on='submit'}}>
  <h3>Add a player</h3>

  <label for="player_name">
    <span>Name</span>
    {{input type="text" name="player_name" value=newPlayerName placeholder="Name" required="true"}}
  </label>

  <label for="player_handicap">
    <span>Handicap</span>
    {{input type="number" name="player_handicap" value=newPlayerHandicap placeholder="Handicap" required="true"}}
  </label>

  <label for="player_bid">
    <span>Bid</span>
    {{input type="number" name="player_bid" value=newPlayerBid placeholder="Bid" required="true"}}
  </label>

  <input type="submit" value="Add" disabled={{isNewPlayerInvalid}}>
</form>
